/* body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color:rgb(5, 16, 39);
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;

}

.text {
    text-align: center;
    margin-right: 20px; 
    color: whitesmoke;
    font-size: 30px;
}

.text div{
    display: flex;
    flex-direction: column;
}

.selection{
    text-align: left;
}

.toolbar {
    background-color: beige;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content:right;
}

.font-large{
    color: rgb(166, 164, 232);
    font-size: 100px;

}

.toolbar button {
    background-color: #6e6161;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}
.next-page-icon img{
    display:flex;
    align-items:flex-end;
    color:beige;

}
.toolbar button:hover {
    background-color: #777;
}
 */
 body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: rgb(5, 16, 39);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    margin-right: 20px;
    color: whitesmoke;
    font-size: 30px;
}

.text div {
    display: flex;
    flex-direction: column;
}

.selection {
    text-align: left;
}

.toolbar {
    background-color: beige;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: right; /* Changed to 'right' */
}

.font-large {
    color: rgb(166, 164, 232);
    font-size: 100px;
}

.toolbar button {
    background-color: #6e6161;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.next-page-icon img {
    display: flex;
    align-items: flex-end;
    color: beige;
}

/* .toolbar button:hover {
    background-color: #777;
} */
